<div class="text-center">
    <h1>SOON A NEW FEATURE</h1>
    <h2>ADD A NEW GOSSIP</h2>
    <p>
        But until then, you can check the gossips already written<br/>
        <a href="<%= root_path%>" class="btn btn-primary">Return to home</a>
    </p>
</div>