<%
author = @gossip.user
%>

<h1><%= @gossip.title %></h1>
<div>
    <p><small><%= link_to author.first_name + " " + author.last_name + " (" + author.city.name + ")", single_user_path(author.id)%></small></p>
    <blockquote><%= @gossip.content %></blockquote>
    <p>
        <% @gossip.tags.each do |tag| %>
        <%= tag.title %>
        <% end %>
    </p>
</div>