<head>
  <title>Contacter la Team</title>
</head>

<body>

	<h3>Nous contacter !! </h3> <br> <br>
    <p>Vous pouvez nous contacter en envoyant un mail à cet addressse petit sagouin : </p>
    <p><a href="mailto:contactATmagicteam.fr">contact@magicteam.fr</a></p>

</body>
