<head>
  <title>Contacter la Team</title>
</head>

<body style = "background-size: cover;
background-repeat:no-repeat;
background-image: url('/team.jpg')">
<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class = "col-lg-3"></div>
    <div class="col-lg-6">
      <h1 class="mt-0.5">Nous contacter !! </h1>
      <p>Vous pouvez nous contacter en envoyant un mail à cet addressse petit sagouin :</br>
      <a href="mailto:contact@magicteam.fr" target="blank">contact@magicteam.fr</a></p>
    </div>
  </div>
</div>
</body>
