<div class="text-center">
    <h1>Bienvenue <%= @person.capitalize %>&nbsp;</h1>
    <p>Ici c'est notre super site de potins.<br/>Il est chouette, non ?</p>
    <a href="<%= root_path%>" class="btn btn-primary">Retour</a>
</div>